.bg-space {
    background-image: url("./assets/backgrounds/asfalt-light.png");
    background-color: #0f000c;
}

.bg-space2 {
    background-image: url("./assets/backgrounds/diagmonds.png");
    background-color: #0f000c;
}